[user]
	name = rakesh-mth
	email = 46665723+rakesh-mth@users.noreply.github.com
[core]
	editor = vim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    side-by-side = false
[push]
    default = simple
	recurseSubmodules = on-demand
[diff]
    tool = p4merge
	submodule = log
    colorMoved = default
[difftool "p4merge"]
    path = C:/Program Files/Perforce/p4merge.exe
    cmd = p4merge.exe \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = p4merge
    conflictstyle = diff3
[mergetool "p4merge"]
    path = C:/Program Files/Perforce/p4merge.exe
    cmd = p4merge.exe \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[credential]
    helper = wincred
[alias]
    lg = log --pretty=format:'%Cred%h%Creset %C(bold yellow)<%an>%Creset -%Cgreen%ad%Creset %s'
    pm = !git checkout master && git pull
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish = "!git push -u origin $(git branch-name)"
    pmr = "!f() { \
        branch_name=$(git rev-parse --abbrev-ref HEAD); \
        git checkout master; git pull; git checkout $branch_name; git rebase master; \
     }; f"
    f = !git fetch --prune 
    fmr = "!git fetch --prune && git rebase origin/master"
    pf = "!git push -u origin $(git branch-name) --force"
    cr = "!git add . -u && git commit -m test && git rebase -i @~2"
    cp = "!git add . -u && git commit && git publish"
    crpf = !git cr && git pf
    p  = "!git pull --ff-only"
    pr = "!git pull --rebase"
    d  = "!git diff"
    ds = "!git diff --staged"
    pb = "!git publish"
    re = "!f() { \
        git fetch --prune; \
        branch_name=$(git rev-parse --abbrev-ref HEAD); \
        git checkout @~1; \
        git br -D $branch_name; \
        git checkout $branch_name; \
    }; f"
    s  = status
    st = status
    co = checkout
    br = branch
    ci = commit
    dt = difftool
[difftool]
	prompt = false
[include]
    path = ~/.gitconfig-work
[submodule]
	recurse = true
[status]
	submodulesummary = 1
